h1.nm {
  width: 50%;
  font-size: bold;
  color: green;
}

.pp {
  height: 20em;
  width: 30em;
  padding: 50px 30px 10px 10px;
}


<!-aboutme->
.am {
  height: 200px;
  width: auto;
  padding: 50px 30px 10px 10px;
}

.row {
  padding: 10px;
}

.row-height {
  height: 60px;
  text-align: center;
  ;padding-top: 25 px;
}

.col-md-4, .col-md-8 {
  background-color: lightblue;
}

.col-md-4{
  border-radius: 25px 0 0 20px;
}

.col-md-8{
  border-radius: 5em;
}
